
footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	color: #adadad;
	text-align: center;
}

footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	color: #adadad;
	text-align: center;
}

footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	color: #adadad;
	text-align: center;
}

footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	color: #adadad;
	text-align: center;
}

footer{
	background-color: var(--bg-footer);
	padding: 30px 0;
	color: #adadad;
	text-align: center;
}
 #6c6c6c #6c6c6c #6c6c6c@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;700&display=swap');
:root{
	--color-texto:#888;
	--color-titulos:#444;
	}


body{
	font-family: 'Montserrat';
	font-size: 14px;
	color: var(--color-texto);
}

header{
	background-color: #000;
	padding: 20px 0;
}

#hero{
	background-image:url("../img/bg-hero.jpg");
	background-position: top center;
	background-size: cover;
	color: #FFFFFF;
	padding: 120px 0;
}

#hero h4{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#hero h1{
	font-size: 7.5em;
	font-weight: 700;
}

#hero h3{
	font-size: 24px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

#hero h1, hero h4, hero h3{
	color: #FFFFFF;

}


.btn-warning{
	padding: 15px 30px!important;
	font-size: 15px;
	text-transform: uppercase;
}


.titulo{
	font-size: 33px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.titulo::after{
	content: '';
	display: block;
	border-bottom: 1px solid #638D38;
	width: 50px;
	margin: 25px auto;
}
.subtitulo{
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

#welcome h2{
	color: var(--color-titulos) !important;
}












